/* Barra-de-titulo */
.titulo1 {
}
.barratitulo1 {
  /* display: none; */
}
.titulo-barra-direita .pc-a {
  display: none;
}
.titulo-barra-direita .cel-a {
  display: flex;
}
/* Barra-de-titulo-Fim */

/* Conteudo 1 */
.conteudo1 {
  background-size: cover;
}
.textoresponsivo {
  top: 163px;
}
.textoresponsivo p {
  font-size: 16pt;
}
.responsivo {
  height: 29%;
}
/* Conteudo 1-Fim */

/* Conteudo 2 */
.conteudo2 {
  display: inline-flex;
}
.conteudo2m {
  display: block;
}
.textof1 {
  width: 48vw;
  height: 8vh;
  white-space: nowrap;
}
.texto1 {
  font-size: 4vw;
}
.contato {
  display: block;
  width: 48vw;
  float: right;
  margin-top: 25px;
}
.whats {
  display: flex;
  white-space: nowrap;
}
.whats p {
  margin: 7px 7px 0px 0px;
  font-size: 5vw;
}
/* Conteudo 2-Fim */

/* Rodope */
.rodape-cliente p {
  text-align: center;
}
.rodape-henrique p {
  text-align: center;
}
/* Rodape-Fim */
